[Unit]
Description=BBD Escape Hotspot and PHP loop

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/srv/http/evert/escape-2/control/web/initPHPLoop.sh
ExecStart=/srv/http/evert/escape-2/control/web/startPHPLoop.sh
ExecStart=/srv/http/evert/escape-2/control/accesspoint/setSSID.sh &
ExecStart=/srv/http/evert/escape-2/control/accesspoint/accesspoint.sh &
ExecStart=/srv/http/evert/escape-2/control/accesspoint/startAP.sh &
ExecStop=/srv/http/evert/escape-2/control/accesspoint/stopAP.sh &
ExecStop=/srv/http/evert/escape-2/control/accesspoint/stopAP.sh &
ExecStop=/srv/http/evert/escape-2/control/web/stopPHPLoop.sh
ExecStop=killall -9 apache2
ExecStop=systemctl restart appache2

[Install]
WantedBy=multi-user.target
